*body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 85rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px solid yellow;*/
}
h1 {
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Geologica', sans-serif;
}

.inputss, button {
    width: 12rem;
    padding: 0.8rem 0 0.8rem 0.5rem;
    margin-left: 0.2rem;
    font-size: 1.3rem;
    color: grey;
    border-color: #e9c7c4;
}

button {
    background-color: #e9c7c4;
    border-color: transparent;
    color: white;
}

.leaders {
    width: 65rem; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #e9c7c4;
    margin-bottom: 1rem;
}

.name-container { 
    display: flex;
    flex-direction: column;
    text-align: left;  
}

.full-name {
    padding: 1rem 0 0.5rem 0.8rem;
    font-size: 2rem;
    color: black;
}

.date {
    padding-left: 0.8rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.countries, .scores {
     font-size: 2rem;
     margin: auto 2rem;
     color: black;

}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.score {
    font-size: 1.7rem;
    border: 1px solid transparent;
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: black;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 0.5rem 0 0.5rem;
}

.red {
    border-color: red;
}


/* .board {
    width: 22rem;
    height: 5rem;
    background-color: #e9c7c4;
    color: white;
} */
